<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    {% include "navbar.html" %}
    <div class="ex1">
      <h4 align="center">Upload File</h4>
      <form method="POST" enctype="multipart/form-data">
        <div>
          <input
            type="file"
            class="form-control"
            name="file_name"
            multiple="multiple"
            required
            width="1"
          />
          <div class="col-md-12 text-center">
            <!-- <input
              type="submit"
              class="btn btn-outline-success"
              name="action"
              value="Submit"
              align="center"
            /> -->
            <button class="custom-btn btn-6" type="submit"name="action" value="Submit"><span>Submit</span></button>
          </div>
        </div>
      </form>
      <h4 align="center">
        Find Word
        <form method="POST" class="example">
          <input
            type="text"
            class="form-control"
            placeholder="Search.."
            name="text"
            id="text"
            required
          />
          <!-- <button
            type="submit"
            name="action"
            value="Search"
            id="submit"
            class="btn btn-outline-warning"
          >
            Search <i class="fa fa-search" aria-hidden="true"></i>
          </button> -->
          <button class="custom-btn btn-7" type="submit" name="action" value="Search"><span STYLE="font-size:18px">Search</span></button>
        </form>
      </h4>
      <h4>Bag-of-words</h4>
      <div class="table-title"></div>
      <table class="table-fill">
        <thead>
          <tr>
            <th class="text-left">NO.</th>
            <th class="text-left">Word Tokenize</th>
            <th class="text-left">Total (Words)</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <tr>
            {% set count = namespace(value=1) %} {% for item in result1 %}
            <td class="text-left">{{count.value}}</td>
            <td class="text-left">{{item[0]}}</td>
            <td class="text-left">{{item[1]}}</td>
          </tr>
          {% set count.value = count.value + 1 %} {% endfor %}
          <tr></tr>
        </tbody>
      </table>
      {% if result2 %}
      <h4>TF-IDF</h4>
      <div class="table-title"></div>
      <table class="table-fill">
        <thead>
          <tr>
            <th class="text-left">NO.</th>
            <th class="text-left">Word Tokenize</th>
            <th class="text-left">Total (%)</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <tr>
            {% set count = namespace(value=1) %} {% for item in result2 %}
            <td class="text-left">{{count.value}}</td>
            <td class="text-left">{{item[0]}}</td>
            <td class="text-left">{{item[1]}}</td>
          </tr>
          {% set count.value = count.value + 1 %} {% endfor %}
          <tr></tr>
        </tbody>
      </table>
      {% endif %} {% if result3 %}
      <h4>Words Results</h4>
      <div class="table-title"></div>
      <table class="table-fill">
        <thead>
          <tr>
            <th class="text-left">Name</th>
            <th class="text-left">Text File</th>
            <th class="text-left">Total (Words)</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          {% set count = namespace(value=0) %} {%for item in result3%}
          <tr>
            <td class="text-left">{{find_word}}</td>
            <td class="text-left">{{fn[count.value]}}</td>
            <td class="text-left">{{item}}</td>
          </tr>
          {% set count.value = count.value + 1 %} {%endfor%}
          <tr></tr>
        </tbody>
      </table>
      {% elif result3 == None %}
      <h4>Words Results</h4>
      <div class="table-title"></div>
      <table class="table-fill">
        <thead>
          <tr>
            <th class="text-left">Name</th>
            <th class="text-left">Found</th>
            <th class="text-left">Total (Words)</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <tr>
            <td class="text-left">{{find_word}}</td>
            <td class="text-left">-</td>
            <td class="text-left">-</td>
          </tr>
          <tr></tr>
        </tbody>
      </table>
      {% endif %} {{tmp}}
    </div>

    <script>

      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
      }
    </script>
  </body>
  <script src="{{url_for('static', filename='script/script.js')}}"></script>
</html>
