<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body >
    {% include "navbar.html" %}
    <div class="ex1">
      <h2 align="center">Upload Your Files <i class="fa fa-file-text-o" style="font-size:36px"></i></h2><br>
      <form method="POST" enctype="multipart/form-data">
        <div >
          <input
            type="file"
            class="form-control"
            name="file_name"
            multiple="multiple"
            required
            width="1"
          />
          <div class="col-md-12 text-center">
            <!-- <input
              type="submit"
              class="btn btn-success"
              name="action"
              value="Submit"
              align="center"
            /> -->
            <button class="custom-btn btn-6" type="submit"name="action" value="Submit"><span>Submit</span></button>
          </div>
          
        </div>
        </div>
      </form>
    </div>

    <script>
      
      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
      }
    </script>
        <script src="{{url_for('static', filename='script/script.js')}}"></script>
  </body>
</html>
